
@{
    ViewBag.Title = "Hakkimizda";
}

<section class="main-content-w3layouts-agileits">
    <div class="container">
        <div class="row">
            <!--left-->
            <div class="col-lg-10 left-blog-info-w3layouts-agileits text-left">
                <div class="blog-grid-top">
                    <div class="b-grid-top">
                        <div class="blog_info_left_grid">
                            <a href="single.html">
                                <img src="/template-c2c/images/b1.jpg" class="img-fluid" alt="">
                            </a>
                        </div>
                        
                    </div>

                    <h3>
                        <a href="single.html">Biz Kimiz? </a>
                    </h3>
                    <p>
                        Click to Continue, bilgisayar mühendisliği okuyan, bir kısmının bilgisayarla arasının yeni yeni düzeldiği
                        kimisinin de iş hayatında çoktan bilgisayarla haşır neşir olan öğrencilerin toplandığı bir gruptur.
                        Amacımız kendimize birşeyler katarken bizim gibi olan öğrencilere ve mezun olup öğrenmekte olanlara ulaşmaktır.<br>

                    </p>
                    
                </div>
                <!--//silder-->
                <!--//silder-->
                
            </div>
            <!--//left-->
            <!--right-->


            


            <!--//right-->
        </div>
    </div>
</section>